#tiles {

    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
  }
.tile{
    background-color: rgb(111, 152, 179);
    color: white;
    height: 10rem ;
    display: flex;
   text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.tile h1{
    font-size: 1.5rem;
}
