body {
  margin: 0;
}
#app {
  width: 100vw;
  overflow: hidden;
  font-weight: 400;
  font-family: "Roboto";
}
p {
  white-space: pre-line;
}
#main {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
#fontsContainer {
  display: flex;
  flex-direction: column;
}

.font {
  padding: 0rem 1rem;
  position: relative;
  height: 250px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  transition: bottom 0.15s ease;
  bottom: 0;
  display: flex;
  flex-direction: column;

}
.font:hover {
  bottom: 2px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.021),
    0 2px 5px 1px rgba(0, 0, 0, 0.24), 0 4px 8px 1px rgba(0, 0, 0, 0.068);
}
.font p:first-child {
  font-size: 1.2rem;
}
.font p:nth-child(2) {
  font-size: 1.5rem;
}
.font p:last-of-type {
  margin-top: auto;
  font-size: 1.1rem;
  font-weight: 400;
  color: gray;
}
nav {
  display: flex;
  z-index: 4;
}
.navWrap {
  margin: 5rem 0;
  overflow: visible;
}

button.btn.font {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: calc(100% - 2rem);
  left: calc(100% - 2rem);
  background-color: white;
  color: black;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.font:hover {
  background-color: rgba(65, 155, 230, 0.466);
  border: none;
}
.material-symbols-outlined {
  color: rgb(70, 70, 70);
}

#pickAndDisplay {
  display: flex;
  align-items: center;
  background-color: rgb(206, 206, 206);
}
h1,
h2 {
  font-weight: 500;
}
