#app {
  display: flex;
  justify-content: space-evenly;
  font-family: "Source Sans Pro";
}

#fontsContainer {
  --grid-layout-gap: 1rem;
  --grid-column-count: 3;
  --grid-item--min-width: 12rem;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
  width: 70vw;
}
.font {
  position: relative;
  padding: 1rem;
  max-height: 250px;
  height: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  transition: bottom .15s ease;
  bottom: 0;
}
.font:hover{
  bottom: 8px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.021),
    0 8px 10px 1px rgba(0, 0, 0, 0.24), 0 1px 8px 1px rgba(0, 0, 0, 0.068);
}

.font p:last-of-type {
  font-size: 1.5rem;
}
.font {
  height: 100%;
}
nav {
  display: flex;
  z-index: 4;
}
.navWrap {
  margin: 5rem 0;
  overflow: visible;
}

button.btn.font {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: calc(100% - 2rem);
  left: calc(100% - 2rem);
  background-color: white;
  color: black;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.font:hover{
  background-color: rgb(120, 164, 199);
  border: none;
}