#fontPoolContainer{
    min-width: 15rem;
    height: 90vh;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    top:10vh;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}