#splitPane {
  display: flex;
  box-sizing: border-box;
}
.resizer {
  height: 100vh;
}
.resizerImg{
  width: 0.8rem;
  background-color: rgb(212, 212, 212);
  height: 100vh;

}
#rightPane {
  background-color: #dadada;
}
